body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  width: 400px;
  margin: 0 auto;
}

.calculatorContainer {
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.outputContainer {
  background-color: #ddd;
  color: black;
  height: 30px;
  padding: 10px;
  font-size: 18px;
}

.keypadContainer button {
  width: 25%;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
}
